#!/bin/sh
# Bind keys
sxhkd &

# Only for my desktop system
xrandr --output DVI-D-0 --off --output HDMI-0 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DP-0 --mode 1366x768 --pos 1920x45 --rotate normal --output DP-1 --off &

# Setting wallpaper and color scheme
feh --bg-scale /home/matthew/.config/wall.png &
wal -c &
wal -i /home/matthew/.config/wall.png &

#Adding transpacency and shadows
compton -bcCG --shadow-radius 10 -l -10 -t -10 --shadow-red 0.8 --shadow-green 0.0 --shadow-blue 1.0 --shadow-exclude '!focused' &

xset r rate 300 50 &	# Speed xrate up
unclutter &		# Remove mouse when idle
dunst &			# dunst for notifications

sh ~/.local/bin/startx/dwm_status.sh

